.octodex{
  max-width: 100%;
  margin: 50px;
  border: 2px solid black;
  padding: 50px;
  position: relative;
  display: inline-block;
  float: left;
  overflow: auto;
}

.octocat{ 
  
  border-sizing: border-box;
  display: inline-block;
  max-width: 33.33%

}

.octocat img{
  border: 2px solid gray;
  border-sizing: border-box;
  float:left;
  display: inline-block;
  overflow: auto;
  position: relative;
}

.image-footer{
  position: bottom right;
  overflow: auto;
}

.image-number{
}

.image-caption{
}

.authors{
  
}

