.octodex{
  max-width: 100%;
  max-height: 500px;
  margin: 50px;
  border: 2px solid black;
  padding: 50px;
  position: relative;
  display: inline-block;
  overflow: auto;
}

.octocat{ 
  display: inline-block;
  max-width: 33.33%;
  float: left;
}

.octocat img{
  max-width: 100%;
  border: 2px solid gray;
  float:left;
  display: inline-block;
  overflow: auto;
  position: relative;
}

.image-footer{
  max-height: 20px;
  position: relative;
  vertical-align: baseline;
 overflow: auto;
}

.image-number{

}

.image-caption{
}

.authors{
  max-height: 20px;
  vertical-align: baseline;
}

